name: CI

on:
  push:
    branches: [ "master", "main", "dev", "**dev" ]
  pull_request:
    branches: [ "master", "main", "dev" ]

permissions:
  contents: read
  packages: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-linux:
    name: Build (Linux - ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-22.04]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install Dependencies (Linux)
        uses: ./.github/actions/install-deps-linux

      - name: Check Formatting
        run: python scripts/format_code.py --check

      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgJsonGlob: 'vcpkg.json'
          vcpkgGitCommitId: '6d7bf7ef2193e2d1c5798a5ff8811d533104c861'
        env:
          VCPKG_BINARY_SOURCES: "clear;nuget,GitHub,readwrite"
          VCPKG_NUGET_REPOSITORY: "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Configure
        run: python build.py --action configure --enable-gpu --enable-tests

      - name: Build
        run: python build.py --action build --enable-gpu --enable-tests

      - name: Test
        run: python build.py --action test --test-label unit --no-build --enable-gpu

  build-windows:
    name: Build (Windows)
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install Dependencies (Windows)
        uses: ./.github/actions/install-deps-windows

      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgJsonGlob: 'vcpkg.json'
          vcpkgGitCommitId: '6d7bf7ef2193e2d1c5798a5ff8811d533104c861'
        env:
          VCPKG_BINARY_SOURCES: "clear;nuget,GitHub,readwrite"
          VCPKG_NUGET_REPOSITORY: "https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Configure
        run: python build.py --action configure --enable-gpu --enable-tests

      - name: Build
        run: python build.py --action build --enable-gpu --enable-tests

      - name: Test
        run: python build.py --action test --test-label unit --no-build --enable-gpu
